
*{
	font-family: 'NanumBarunGothicExtraLight';
	font-family: 'NanumBarunGothicLight';
	font-family: 'NanumBarunGothic';
	font-family: 'NanumBarunGothicBold';
}

* {
 	margin: 0;
 	padding: 0;
 }

 ul, ol, li {
 	list-style: none;
 }

 a {
 	text-decoration: none;
 	color: #333;
 }

/*/////////////////////////////////////////////////////////*/

#content{

}

#wrap{
    width: 1080px;
    margin: 0 auto;
    /* background-color: aqua; */
	display: flex;
}


/*/////////////////////////////////////////////////////////*/
/* slider */
#sliderType01{
	width: 600px;
}

.slider__wrap {
	width: 600px;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider__img {
	/* 이미지 보이는 영역 */
	position: relative;
	width: 500px;
	height: 500px;
	overflow: hidden;
}

.slider__inner {
	/* 이미지를 감싸고 있는 부모 : 움직이는 부분 */
	display: flex;
	flex-wrap: wrap;
	/* width: 8800px; --> js로 이미지 추가되도 전체넓이 가변되게끔! */
	/* 4000px --> 4800px  : 총이미지가 6개로 변경*/
	height: 450px;
	position: relative;
}

.slider {
	/* 개별적인 이미지 */
	position: relative;
	width: 500px;
	height: 500px;
}

.slider::before {
	position: absolute;
	left: 5px;
	top: 5px;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	padding: 5px 10px;
}

.slider:nth-child(1)::before {
	/* content: "이미지1"; */
}

.slider:nth-child(2)::before {
	/* content: "이미지2"; */
}

.slider:nth-child(3)::before {
	/* content: "이미지3"; */
}

.slider:nth-child(4)::before {
	content: "이미지4";
}

.slider:nth-child(5)::before {
	content: "이미지5";
}

.slider:nth-child(6)::before {
	content: "이미지6";
}
.slider:nth-child(7)::before {
	content: "이미지7";
}
.slider:nth-child(8)::before {
	content: "이미지8";
}
.slider:nth-child(9)::before {
	content: "이미지9";
}

@media (max-width: 400px) {
	.slider__img {
		width: 400px;
		height: 225px;
	}
}

.slider__btn {}
.slider__btn a {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	/* background: rgba(0,0,0,0.4); */
	border-radius: 10px;
	text-align: center;
	transition: all 0.2s;
	line-height: 48px;
	display: block;
	font-size: 1.3rem;
	/* color: rgba(255,255,255,1); */
	opacity: 0.7;
}
.slider__btn a.prev {
	left: 0;
	z-index: 2;
}
.slider__btn a.next {
	right: 0;
	z-index: 2;
}
.slider__btn a:hover{
	/* text-shadow: -1px 0 #8545f3, 0 1px #9359f7, 1px 0 #8545f3, 0 -1px #413be1; */
	/* border: 1px solid rgba(187, 127, 255, 0.6); */
	/* box-shadow: inset 0px 0px 5px aquamarine; */
	opacity: 1;
	transition: opacity 0.5s ease;
}

/*/////////////////////////////////////////////////////////*/
/* right */
/* prod-wrap */
#right{
	width: 40%;
}

.prod-wrap{
	/* width: 600px; */
	height: 600px;
	display: flex;
    flex-direction: column;
	justify-content: center;
}

.prod-info{
	height: 500px;
}

#prod-name p{
	font-size: 2.5em;;
}

#prod-price{
	margin-top: 20px;
}

#prod-price p{
	font-size: 1.5em;;
}

/*/////////////////////////////////////////////////////////*/

/* button-wrap */

